<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Estados e Capitais do Brasil</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="LSS Developer" src="/images/logo-lssdeveloper.png" />
                </a>
            </div>
        </div>
    </nav>
    
    <form class="form-horizontal" method="POST" action="/estados">
    	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
    		<span th:text="${mensagem}"></span>
    	</div>
    
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h1 class="panel-title">Novo Estado</h1>
    		</div>
    		
    		<div class="panel-body">
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="descricao" name="descricao"/>
					</div>
				</div>
				<div class="form-group">
					<label for="sigla" class="col-sm-2 control-label">Sigla</label>
					<div class="col-sm-2">  
						<input type="text" class="form-control"	id="sigla" name="sigla"/>
					</div>
				</div>
				<div class="form-group">
					<label for="capiptal" class="col-sm-2 control-label">Capital</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="capital" name="capital"/>
					</div>
				</div>
				<div class="form-group">
					<label for="regiao" class="col-sm-2 control-label">Região</label>
					<div class="col-sm-2">
						<select class="form-control" name="regiao">
							<option th:each="regiao : ${todasRegioes}"
								th:value="${regiao}"
								th:text="${regiao.descricao}"></option>

                    	</select>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    	</div>
    </form>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>