<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>

<title>Pesquisa de estados</title>

</head>
<section layout:fragment="conteudo">
	<div class="panel panel-default">
		<div class="panel-heading">

			<div class="clearfix">
				<h1 class="panel-title lssd-titulo-panel">Pesquisa de estados</h1>
				<a class="btn btn-link lssd-link-panel" href="/estados/novo">Novo Estado</a>
			</div>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Estado</th>
						<th class="text-center col-md-2">Sigla</th>
						<th class="text-center col-md-2">Capital</th>
						<th class="text-center col-md-2">Região</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="5">Nenhum registro foi encontrado.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

</html>