<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>

<title>Pesquisa de estados</title>

</head>
<section layout:fragment="conteudo">
	<div class="panel panel-default">
		<div class="panel-heading">

			<div class="clearfix">
				<h1 class="panel-title lssd-titulo-panel">Pesquisa de estados</h1>
				<a class="btn btn-link lssd-link-panel" href="/estados/novo">Novo
					Estado</a>
			</div>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Estado</th>
						<th class="text-center col-md-2">Sigla</th>
						<th class="text-center col-md-2">Capital</th>
						<th class="text-center col-md-2">Região</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="estado : ${estados}">
						<td class="text-center" th:text="${estado.codigo}"></td>
						<td th:text="${estado.descricao}"></td>
						<td class="text-center" th:text="${estado.sigla}"></td>
						<td class="text-center" th:text="${estado.capital}"></td>
						<td class="text-center"><span class="label"
							th:text="${estado.regiao.descricao}"
							th:classappend="${estado.sudeste ? 'label-success' : 'label-primary'}"></span>
						</td>
						<td class="text-center"><a class="btn btn-link btn-xs"
							th:href="@{/estados/{codigo}(codigo=${estado.codigo})}">
								<span class="glyphicon glyphicon-pencil"></span>
						</a></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(estados)}">Nenhum
							registro foi encontrado.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

</html>