<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<head>

<title>Pesquisa de cobranças</title>

</head>

<section layout:fragment="conteudo">
		<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default">

		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title lssd-titulo-panel">Pesquisa de cobranças</h1>
				<a class="btn btn-link lssd-link-panel" href="/cobrancas/novo">Nova
					Cobrança</a>
			</div>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-2">Data de Vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="cobranca : ${cobrancas}">
						<td class="text-center" th:text="${cobranca.codigo}"></td>
						<td th:text="${cobranca.descricao}"></td>
						<td class="text-center" th:text="${{cobranca.dataVencimento}}">
						</td>
						<td class="text-right" th:text="|R$ ${{cobranca.valor}}|"></td>
						<td class="text-center"><span class="label"
							th:text="${cobranca.status.descricao}"
							th:classappend="${cobranca.pendente ? 'label-danger' : 'label-success'}"></span>
						</td>
						<td class="text-center"><a class="btn btn-link btn-xs"
							th:href="@{/cobrancas/{codigo}(codigo=${cobranca.codigo})}" >
								<span class="glyphicon glyphicon-pencil"></span>
						</a> <a class="btn btn-link btn-xs" 
									data-toggle="modal" data-target="#confirmacaoExclusaoModalCobranca"
							th:attr="data-codigo=${cobranca.codigo}, data-descricao=${cobranca.descricao}">
								<span class="glyphicon glyphicon-remove"></span>
						</a></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(cobrancas)}">Nenhum
							registro foi encontrado.</td>
					</tr>
				</tbody>

			</table>
		</div>
		<div layout:include="DialogoConfirmacaoExclusaoCobranca"></div>
	</div>
</section>

</html>